<h1>Build - for Landowners</h1>
<div><%= link_to "New Project", new_project_path, class:"btn btn-success" %></div>

<section id="project-cards">
	<div class="container">
		<div class="row">
		<%= render "projects/project_cards" %>
		</div>
	</div>
</section>

